* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	justify-content: center;
	background-image: url(./img/bgbig2.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.contact {
	margin-top: 11rem;
	background-color: rgb(25, 24, 24);
	padding: 30px;

	width: 300px;
	border: 1px solid aqua;
	animation: pojawianie1 3s;
	animation-delay: 1s;
	animation-fill-mode: both;
}
.contact-box {
	display: flex;
	flex-direction: column;
	margin: 40px 0;
}
.contact label {
	color: aqua;
	font-size: 22px;
	margin-bottom: 10px;
}
.contact input,
.contact textarea {
	background-color: rgb(55, 54, 54);
	padding: 15px;
	font-size: 16px;
	font-family: inherit;
	border: 1px solid aqua;
}
.contact textarea {
	resize: vertical;
	min-height: 100px;
}
button {
	cursor: pointer;
	width: 100%;
	font-size: 12px;
	padding: 10px;
	border: 1px solid aqua;
	color: aqua;
	background-color: rgb(55, 54, 54);
}
button:hover {
	background-color: rgb(37, 36, 36);
}
.contact input:hover {
	background-color: white;
}
.contact textarea:hover {
	background-color: white;
}

/* **************************************************** */

.navbar {
	display: flex;
	justify-content: center;
	position: absolute;
	margin-left: 75%;
	bottom: 19.8rem;
	overflow: hidden;
}

.navbar ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

.navbar ul li a {
	display: inline-block;
}
.navbar a {
	color: aqua;
	text-decoration: none;
	display: block;
	padding: 20px;
	font-size: 15px;
}
.navbar ul li:nth-child(5) {
	background-color: rgb(90, 3, 3);
}

img {
	position: absolute;
	left: 10px;
	top: 10px;
	bottom: -580px;
	height: 100px;
	color: aqua;
	background-color: none;
	animation: pojawianie1 3s;
	animation-delay: 2s;
	animation-fill-mode: both;
}
@media (max-width: 1400px) {
	body {
		background-image: url('./img/bgbig2.png');
		background-size: auto;
	}
}
@media (max-width: 500px) {
	.contact {
		width: 250px;
		margin-top: 55px;
	}
	.contact label {
		font-size: 15px;
		margin-bottom: 5px;
	}
	.contact-box {
		margin: 25px 0;
	}
	.contact input {
		padding: 2px;
	}
	/* ********************************** */
	.navbar {
		margin-left: 10px;
		height: 45px;
		width: 88vw;
		bottom: 5%;
	}

	.navbar ul {
		display: flex;
		position: absolute;
	}

	.navbar li a {
		padding: 5px;
		font-size: 9px;
	}
}

@keyframes pojawianie1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
